
            <i style="padding: 20px;"></i>

          <div class="mr-5">
            <%= @userCount %>
           user</div>

        <a href="#"><span >View Details</span><span> <i></i> </span> </a>


            <i style="padding: 20px;"></i>

           <%= @uploadCount %>
           uploads</div>

        <a href="#"><span >View Details</span><span> <i></i> </span> </a>


            <i class="fa fa-database" style="padding: 20px;"></i>

            <%= @productCount %>
           products</div>

        <a href="#"><span >View Details</span><span> <i></i> </span> </a>
