  <h1 >Liste des produits </h1>
    <%= render 'products/partials/products' %>
  <!-- Pagination -->
      <ul>
        <li>
          <a href="#"> <span>&laquo;</span> <span>Précédent</span> </a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#"><span>&raquo;</span><span>Suivant</span> </a>
        </li>
      </ul>
